<!DOCTYPE html>
    <head>
        <%- include('./../includes/head.html') %>
        <title>Home</title>
    </head>
    <body>
        <nav class="universal-nav">
            <div class="flex-1">
                <img src="/fonts/logo_color.png" alt="Appix">
            </div>
            <div class="search-nav">
                <div class="input-group mb-3 no-margin">
                    <input type="text" class="form-control" placeholder="buscar proyecto..." id="search-input">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <%- include('./../includes/search-icon.html') %>
                    </button>
                </div>
            </div>
            <div class="flex-2">
                <p><%= user.Nombre %>:</p>
                <p><%= user.Rol %></p>
            </div>
            <div class="flex-cerrar">
              <form action="/usuarios/salir" method="POST">
                <button type="submit" class="btn-cerrar">
                  &lt;Cerrar Sesion&gt; <%- include('./../includes/leave_icon.html') %>
                </button>
              </form>
            </div>
        </nav>
        <% if (user.Rol == "manager") { %>
            <%- include('./../includes/manager_panel.html') %>
        <% } %>
        <div class="card-flexbox" id="project-cards">
        
        </div>

        <nav class="page-counter">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" onclick="">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for (let i = 1; i <= numPages; i++) { %>
                <li class="page-item"><a class="page-link" onclick="cambiarPagina(<%= i %>)"><%= i %></a>
              <% } %>
              <li class="page-item">
                <a class="page-link" onclick="">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>

        <footer>
            <p style="display: inline-block">Powered by: </p>
            <img src="/imgs/dinamite_logo.png" width="240">
        </footer>
        <!--popup-->
        <div class="overlay" id="overlay">
          <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            <h3>Registrar Empresa</h3>
            <form action="/empresa/registro" method="POST">
              <div class="contenedor-inputs">
                <input type="text" placeholder="Nombre"name="Nombre">
                <input type="text" placeholder="Telefono" name="Telefono">
                <input type="email" placeholder="Correo" name="Correo">
              </div>
              <input type="submit" class="btn-submit" value="Registrar">
            </form>
          </div>
        </div>

      <!--popup AGREGAR PROYECTO-->
      <div class="overlay" id="overlayAgregarProyecto">
        <div class="popup" id="popup2">
          <a id="btn-cerrar-popup-2" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
          <h3>Agregar Proyecto</h3>
          <form action="/proyecto/registro" method="POST">
            <div class="contenedor-inputs">
              <input type="text" placeholder="Nombre del Proyecto" name="nombre">
              <select name="nombreEmpresa">
                <option value="" class="placeholder">Seleccione una empresa</option>
                <% projects.forEach(project => { %>
                  <option value="<%= project.nombreEmpresa %>"><%= project.nombreEmpresa %></option>
                <% }) %>
              </select>
              <input type="text" placeholder="Descripcion" name="desc">
              <input type="number" placeholder="Costo" name="costo">
              <input type="date" placeholder="Fecha de inicio" name="fechaI">
              <input type="date" placeholder="Fecha Final" name="fechaF">
            </div>
            <input type="submit" class="btn-submit" value="Registrar">
          </form>
        </div>
      </div>
      <!--popup AGREGAR PROYECTO-->
      
    </body>
    <%- include('./../scripts.ejs') %>
</html>