<!DOCTYPE html>
    <head>
        <%- include('./../includes/head.html') %>
        <title>Home</title>
    </head> 
    <body class="first-body">
        <nav class="universal-nav">
            <div class="flex-1">
                <img src="/imgs/logo_blanco.png" alt="Appix">
            </div>
            <div class="search-nav">
                <div class="input-group mb-3 no-margin">
                    <input type="text" class="form-control" placeholder="buscar proyecto..." id="search-input">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <%- include('./../includes/search-icon.html') %>
                    </button>
                </div>
            </div>
            <div class="flex-2">
                <%- include('./../includes/person_icon.html') %>
                <p><%= user.Nombre %></p>
                <% if (user.Rol == "manager") { %>
                  <p>(M)</p>
                <% } else if (user.Rol == "desarrollador"){ %>
                  <p>(D)</p>
                <% } %>
                <!-- <p><%= user.Rol %></p> -->
            </div>
            <div class="flex-cerrar">
              <form action="/usuarios/salir" method="POST">
                <%- include('./../includes/leave_button.html') %> 
              </form>
            </div>
        </nav>

        <header class="manager-options">
          <div class="fornow-2">
            <div class="fornow-p">
                <p><b>Proyectos Pasados</b></p>
            </div>
            <div class="controls-flex">
              <button class="button-13 btn-pasados" onclick="pasadosPage()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                </svg>Ver Historia
              </button>
            </div>
        </div>
          <% if (user.Rol == "manager") { %>
            <%- include('./../includes/manager_panel.html') %>
          <% } %>     
      </header> 

        <div class="card-flexbox" id="project-cards">
        
        </div>

        <nav class="page-counter">
            <ul class="pagination" id="pagination">
    
            </ul>
        </nav>

        <footer>
            <p style="display: inline-block">Powered by: </p>
            <img src="/imgs/dinamite_logo.png" width="240">
        </footer>
        <!--popup-->
        <div class="overlay" id="overlay">
          <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            <h3>Registrar Empresa</h3>
            <form action="/empresa/registro" method="POST">
              <div class="contenedor-inputs">
                <input type="text" placeholder="Nombre"name="Nombre">
                <input type="tel" placeholder="Telefono" name="Telefono" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                <input type="email" placeholder="Correo" name="Correo">
              </div>
              <input type="submit" class="btn-submit" value="Registrar">
            </form>
          </div>
        </div>

      <!--popup AGREGAR PROYECTO-->
      <div class="overlay" id="overlayAgregarProyecto">
        <div class="popup" id="popup2">
          <a id="btn-cerrar-popup-2" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
          <h3>Agregar Proyecto</h3>
          <form action="/proyecto/registro" method="POST">
            <div class="contenedor-inputs">
              <input type="text" placeholder="Nombre del Proyecto" name="nombre">
              <select name="nombreEmpresa">
                <option value="" class="placeholder">Seleccione una empresa</option>
                <% empresas.forEach(empresa => { %>
                  <option value="<%= empresa.Nombre %>"><%= empresa.Nombre %></option>
                <% }) %>
              </select>
              <input type="text" placeholder="Descripcion" name="desc">
              <div class="flex-3 costo-div">
                <input type="number" placeholder="Costo/Presupuesto" name="costo" style="flex-grow: 10;">
                <button role="none" type="button" class="costo-btn">$</button>
              </div>
              <div class="flex-3">
                <label>Fecha de Inicio</label>
                <label style="width: 50%; text-align: start;">Fecha Final</label>
              </div>
              <div class="flex-3">
                <input type="date" name="fechaI">
                <input type="date" name="fechaF">
              </div>
            </div>
            <input type="submit" class="btn-submit" value="Registrar">
          </form>
        </div>
      </div>
      <!--popup AGREGAR PROYECTO-->
      
    </body>
    <%- include('./../scripts.ejs') %>
</html>