<!DOCTYPE html>
    <head>
        <%- include('./../includes/head.html') %>
        <title>Home</title>
    </head>
    <body>
        <nav class="universal-nav">
            <div class="flex-1">
                <img src="/fonts/logo_color.png" alt="Appix">
            </div>
            <div class="search-nav">
                <div class="input-group mb-3 no-margin">
                    <input type="text" class="form-control" placeholder="buscar proyecto..." id="search-input">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <%- include('./../includes/search-icon.html') %>
                    </button>
                </div>
            </div>
            <div class="flex-2">
                <p><%= user.Nombre %>:</p>
                <p><%= user.Rol %></p>
            </div>
        </nav>
        <% if (user.Rol == "manager") { %>
            <%- include('./../includes/manager_panel.html') %>
        <% } else { %>
            <p>you are a measely peasant</p>
        <% } %>
        <div class="card-flexbox">
            <% projects.forEach(project => { %>
                <a href="/proyecto/<%= project.IDProyecto %>">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <div class="flex-3">
                            <h5 class="card-title"><%= project.Nombre %></h5>
                            <p
                            <% if (project.Viabilidad < 50) { %>
                                class="very-risky" 
                            <% } else if (project.Viabilidad < 65){ %>
                                class="at-risk"
                            <% } else if (project.Viabilidad < 80){ %>
                                class="viable"
                            <% } else if (project.Viabilidad < 95){ %>
                                class="very-viable"
                            <% } else if (project.Viabilidad <= 100){ %>
                                class="perfect"
                            <% } %>
                            ><%= project.Viabilidad %></p>
                        </div>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Cliente: <%= project.nombreEmpresa %></h6><br>
                      <h6>Descripcion</h6>
                      <p class="card-text p-desc"><%= project.Descripcion %></p>
                      <div class="fechas-div">
                        <p class="card-text">Inicio</p>
                        <p class="card-text">Fin</p>
                      </div>
                      <div class="fechas-div">
                        <p class="card-text"><%= project.start %></p>
                        <p class="card-text"><%= project.end %></p>
                      </div>
                    </div>
                </div>
                </a>
            <% }) %>
        </div>
        <footer>
            <p style="display: inline-block;">Powered by: </p>
            <img src="/imgs/dinamite_logo.png" width="240">
        </footer>
    </body>
    <!-- <script src="/client-side/homePage.js"></script> -->
    <script>
        const projects = JSON.parse('<%- projectsJSON %>')
        const searchSubmit = document.getElementById('button-addon2')
        searchSubmit.addEventListener('click', () => {
            const searchInput = document.getElementById('search-input')
            const searchTerm = searchInput.value.toLowerCase()
            const filteredProjects = projects.filter(project =>
                project.Nombre.toLowerCase().includes(searchTerm) || 
                project.Descripcion.toLowerCase().includes(searchTerm) ||
                project.nombreEmpresa.toLowerCase().includes(searchTerm)
            )
            // Now use filteredProjects to display or update your UI
            console.log(filteredProjects)
            })
    </script>
</html>