<!DOCTYPE html>
    <head>
        <%- include('./../includes/head.html') %>
        <link rel="stylesheet" href="/styles/proj-styles.css">
        <title>Proyecto: <%= proyectoObject.IDProyecto %></title>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    </head>
    <body>
        <nav class="universal-nav">
            <div class="flex-1">
              <%- include('./../includes/go-back.html') %>
                <img src="/imgs/logo_blanco.png" alt="Appix">
            </div>
            <div class="flex-2"> 
                <%- include('./../includes/person_icon.html') %>
                <p><%= user.name %></p>
                <% if (user.rol == "manager") { %>
                  <p>(M)</p>
                <% } else if (user.Rol == "desarrollador"){ %>
                  <p>(D)</p>
                <% } %>
            </div>
        </nav>

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="navtab-1" aria-current="page" onclick="viewInfo()">Info de Proyecto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navtab-2" onclick="viewRiesgos()">Info Riesgos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navtab-3" onclick="viewAnalisis()">Análisis</a>
            </li>
        </ul>

        <section class="general-view">
            <div class="flex-3 general-title">
                <h1><%= proyectoObject.Nombre %></h1>
                <button role="none" class="button-close">Cerrar Proyecto</button>
            </div>

            <div class="flex-3">
              <div class="f-50">
                <h5 class="card-subtitle mb-2 text-body-secondary" style="margin: 0 3rem 2rem 3rem;">
                  Cliente: <%= proyectoObject.nombreEmpresa %>
                </h5><br>
              </div>
            </div>

            <div class="flex-3 info-body">
              <% if (riesgos.length > 8) { %>
                <div class="card card-scroll">
                  <div class="card card-body-scroll">
              <% } else { %>
                <div class="card">
                  <div class="card-body">
              <% } %> 
                  <h5 class="card-title">Descripcion</h5>
                  <p class="card-text" style="width: 100%;">
                    <%= proyectoObject.Descripcion %>
                  </p>
                </div>
                <h6 class="card-subtitle mb-2" style="margin-left: 1rem;">Riesgos</h6>
                <ul class="list-group list-group-flush">
                  <% riesgos.forEach(riesgo => { %>
                    <li class="list-group-item"><%= riesgo.IDRiesgo %>: <%= riesgo.Riesgo %></li>  
                  <% }) %>
                  <% if(riesgos.length == 0) { %>
                    <li class="list-group-item">none</li>
                  <% } %>
                </ul>
              </div>
              <div style="flex-basis: 50%;  text-align: start;">
                <div style="width: 100%; text-align: start;">
                  <h6 style="max-width: 100%;">Progreso de Timeline de Proyecto</h6>
                  <div class="flex-3" style="width: 80%; justify-content: space-between; margin: 0;">
                    <label><%= proyectoObject.start %></label>
                    <label><%= proyectoObject.end %></label>
                  </div>
                  <div class="progress" role="progressbar" id="prog-bar"></div>
                    <!-- <div class="progress-bar" style="width: 50%"></div> -->
                  <!-- </div> -->
                  <div id="range-div" style="width: 100%;"></div>
                </div>
                <div id="container-viable" style="width: 80%; max-height: 80%; display: inline-block;"></div>
              </div>
            </div>

        </section>

        <div class="riesgos-view hidden">
          <div class="flex-3" style="margin: 0 3rem 2rem 3rem; width: 85%;">
            <h1><%= proyectoObject.Nombre %></h1>
            <!-- <button role="none" class="button-edit">Editar Riesgos</button> -->
            <button class="button-20">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon"><g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a"><circle r="7.5" cy="10" cx="10"></circle><path d="m9.99998 7.5v5"></path><path d="m7.5 9.99998h5"></path></g></svg> -->
              <span class="label">Editar Riesgos</span>
            </button>
        </div>
          <h4>Riesgos Anotados</h4>
          <table class="table table-striped" style="margin-bottom: 3rem;">
            <thead>
              <tr>
                <th scope="col">IDRiesgo</th>
                <th scope="col">Riesgo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Probabilidad</th>
                <th scope="col">Impacto</th>
                <th scope="col">Estrategia</th>
              </tr>
            </thead>
            <tbody>
                <% riesgos.forEach(riesgo => { %>
                  <tr >
                      <td><%= riesgo.IDRiesgo %></td>
                      <td><%= riesgo.Riesgo %></td>
                      <td><%= riesgo.Categoria %></td>
                      <td><%= riesgo.Probabilidad %></td>
                      <td><%= riesgo.Impacto %></td>
                      <td><%= riesgo.Estrategia %></td>
                  </tr>
              <% }) %>
            </tbody>
          </table>
        </div>

        <div class="analisis-view hidden">
          <h1 style="text-align: center; margin-bottom: 2rem;"><%= proyectoObject.Nombre %></h1>
          <div class="flex-3 graph-div">
            <div id="container" style="width: 49%; height: 400px;"></div>
            <div id="container-2" style="width: 49%; height: 400px;"></div>
          </div>
        </div>
  
        <footer>
            <p style="display: inline-block">Powered by: </p>
            <img src="/imgs/dinamite_logo.png" width="240">
        </footer>
    </body>
    <%- include('./../scripts/proj-script.ejs') %>
</html>