<!DOCTYPE html>
<head>
  <%- include('./../includes/head.html') %>
    <link rel="stylesheet" href="/styles/proj-styles.css">
    <title>Proyecto: <%= proyectoObject.IDProyecto %></title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
</head>
<body>
  <nav class="universal-nav">
    <div class="flex-1">
      <%- include('./../includes/go-back.html') %>
        <img src="/imgs/logo_blanco.png" alt="Appix">
    </div>
    <div class="flex-2">
      <%- include('./../includes/person_icon.html') %>
      <p><%= user.name %></p>
      <% if (user.rol=="manager" ) { %>
        <p>(M)</p>
      <% } else if (user.Rol=="desarrollador" ){ %>
          <p>(D)</p>
      <% } %>
    </div>
  </nav>

  <ul class="nav nav-tabs"> 
    <li class="nav-item">
      <a class="nav-link active" id="navtab-1" aria-current="page" onclick="viewInfo()">Info de Proyecto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="navtab-2" onclick="viewRiesgos()">Info Riesgos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="navtab-3" onclick="viewAnalisis()">Análisis</a>
    </li>
  </ul>

  <section class="general-view">
    <div class="flex-3 general-title">
      <h1><%= proyectoObject.Nombre %></h1>
      <button role="none" class="button-23" style="color: red; border-color: red;" id="btn-abrir-popup">Cerrar Proyecto</button>
    </div>

    <div class="flex-3" style="align-items: center; margin-bottom: 2rem;">
      <div class="f-50">
        <h5 class="card-subtitle mb-2 text-body-secondary" style="margin: 0 3rem 2rem 3rem;">
          Cliente: <%= proyectoObject.nombreEmpresa %>
        </h5><br>
      </div>
      <div style="flex-basis: 50%; text-align: start;">
        <h6 style="max-width: 100%;">Progreso de Timeline de Proyecto</h6>
        <div class="flex-3" style="width: 80%; justify-content: space-between; margin: 0;">
          <label><%= proyectoObject.start %></label>
          <label><%= proyectoObject.end %></label>
        </div>
        <div class="progress" role="progressbar" id="prog-bar"></div>
          <!-- <div class="progress-bar" style="width: 50%"></div> -->
        <!-- </div> -->
        <div id="range-div" style="width: 100%;"></div>
      </div>
    </div>

    <div class="flex-3 info-body">
      <% if (projectDevs.length >= 6) { %>
        <div class="card card-scroll">
          <div class="card-body card-body-scroll" style="max-height: 6rem;">
      <% } else { %>
              <div class="card">
                <div class="card-body" style="max-height: 6rem;">
      <% } %>
                    <h5 class="card-title">Descripción</h5>
                    <p class="card-text" style="width: 100%;">
                      <%= proyectoObject.Descripcion %>
                    </p>
                </div>
                <h6 class="card-subtitle mb-2" style="margin-left: 1rem;">Desarrolladores Actuales</h6>
                <ul class="list-group list-group-flush">
                  <% projectDevs.forEach(dev => { %>
                    <% if (dev.Rol == 'desarrollador') { %>
                      <li class="list-group-item"><%= dev.IDUsuario %>: <%= dev.Nombre %> (Agregado <%= dev.dateAdded %>)</li>
                    <% } %>
                  <% }) %>
                  <% if(riesgos.length == 0) { %>
                    <li class="list-group-item">Aún no hay desarrolladores asignados a este proyecto</li>
                  <% } %>
                </ul>
              </div>
              <div style="flex-basis: 50%; height: 100%; text-align: start;">
                <div id="container-viable" style="width: 70%; max-height: 70%; display: inline-block; border: solid black 1px; margin: 0 auto;"></div>
              </div>
            </div>

  </section>

  <div class="riesgos-view hidden">
    <div class="flex-3" style="margin: 0 3rem 2rem 3rem; width: 85%;">
      <h1><%= proyectoObject.Nombre %></h1>
      <button id="btn-EditarRiesgos-abrir" role="none" class="button-23" style="color: orange; border-color: orange;">
        Editar Riesgos
      </button>

    </div>
    <h4>Riesgos Anotados</h4>
    <table class="table table-striped" style="margin-bottom: 3rem;">
      <thead>
        <tr>
          <th scope="col">IDRiesgo</th>
          <th scope="col">Riesgo</th>
          <th scope="col">Categoria</th>
          <th scope="col">Probabilidad</th>
          <th scope="col">Impacto</th>
          <th scope="col">Estrategia</th>
        </tr>
      </thead>
      <tbody>
        <% riesgos.forEach(riesgo => { %>
          <tr >
              <td><%= riesgo.IDRiesgo %></td>
              <td><%= riesgo.Riesgo %></td>
              <td><%= riesgo.Categoria %></td>
              <td><%= riesgo.Probabilidad %></td>
              <td><%= riesgo.Impacto %></td>
              <td><%= riesgo.Estrategia %></td>
          </tr>
      <% }) %>
    </tbody>
    </table>
  </div>

  <div class="analisis-view hidden">
    <h1 style="text-align: center; margin-bottom: 2rem;"><%= proyectoObject.Nombre %></h1>
    <div class="flex-3 graph-div">
      <div id="container" style="width: 49%; height: 400px;"></div>
      <div id="container-2" style="width: 49%; height: 400px;"></div>
    </div>
  </div>

  <footer>
    <p style="display: inline-block">Powered by: </p>
    <img src="/imgs/dinamite_logo.png" width="240">
  </footer>

  <!-- Popup para Cerrar Proyecto -->
  <div id="overlay" class="overlay">
    <div class="popup" id="popup">
      <a id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
      <h3 style="margin-bottom: 2rem; color: darkslategray;">Cerrar Proyecto: <span style="color: black;"><%= proyectoObject.Nombre %></span></h3>
      <form action="/proyecto/cerrar" method="POST">
        <div class="contenedor-inputs">
          <input type="hidden" name="idProyecto" value="<%= proyectoObject.IDProyecto %>">
          <h5>Cual es la razón por cerrar el proyecto?</h5>
          <p style="color: gray; font-size: small;">(opcional, se puede dejar vacio)</p>
          <textarea placeholder="Falta de recursos, otra cosa... " rows="2" cols="60" name="razon">
          </textarea><br>
          <div id="popup-2" class="hidden">
            <h5>Seguro que deseas cerrar este proyecto?</h5>
            <p style="color: gray; font-size: small;">Si no, puedes salir de aqui dando clic en la 'X' en la parte superior de este popup</p>
            <input type="checkbox" id="are-you-sure" onclick="verificar()"><br>
            <p style="color: red;" id="warning-red" class="hidden">Esta accion no se puede deshacer</p>
            <button type="submit" id="cerrar-submit" class="btn-submit hidden">Finalizar</button>
          </div>
          <button role="none" type="button" id="btn-verificacion" class="btn-submit">Cerrar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- IMPLEMENTACIÓN : FUNCIONALIDAD DEL BOTÓN "Editar Riesgos" -->
  <div id="EditarRiesgos" class="overlay">
      <div class="popup" id="riesgos-popup" style="z-index: 9999;">
      <a id="btn-EditarRiesgos-cerrar" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
      <h3>Seleccione los cambios que desea hacer a los riesgos.</h3>
      <p>(O si prefiere, puede salir sin hacer cambios dando clic en la X)</p>
      <form id="editarRiesgosForm" action="/proyecto/editarRiesgo" method="POST">
        <input type="hidden" id="idProyectoHidden" value="<%= proyectoObject.IDProyecto %>" name="idProyecto">

        <div style="max-height: 20rem; overflow: scroll; overflow-x: hidden; text-align: start;">
          <h5>Riesgos de Calidad</h5>
          <% allRiesgos.map(riesgo => { %>
            <% if (riesgo.Categoria == "Calidad") { %>
              <% if (riesgo.active == true) { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>" checked>
              <% } else { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>">
              <% } %>
              <label style="border-bottom: solid gray 1px;"><%= riesgo.Riesgo %></label><br>
            <% } %>
          <% }) %>
          <h5>Riesgos de Alcance</h5>
          <% allRiesgos.map(riesgo => { %>
            <% if (riesgo.Categoria == "Alcance") { %>
              <% if (riesgo.active == true) { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>" checked>
              <% } else { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>">
              <% } %>
              <label style="border-bottom: solid gray 1px;"><%= riesgo.Riesgo %></label><br>
            <% } %>
          <% }) %> 
          <h5>Riesgos de Costo</h5>
          <% allRiesgos.map(riesgo => { %>
            <% if (riesgo.Categoria == "Costo") { %>
              <% if (riesgo.active == true) { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>" checked>
              <% } else { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>">
              <% } %>
              <label style="border-bottom: solid gray 1px;"><%= riesgo.Riesgo %></label><br>
            <% } %>
          <% }) %> 
          <h5>Riesgos de Recursos</h5>
          <% allRiesgos.map(riesgo => { %>
            <% if (riesgo.Categoria == "Recursos") { %>
              <% if (riesgo.active == true) { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>" checked>
              <% } else { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>">
              <% } %>
              <label style="border-bottom: solid gray 1px;"><%= riesgo.Riesgo %></label><br>
            <% } %>
          <% }) %> 
          <h5>Riesgos de Tiempo</h5>
          <% allRiesgos.map(riesgo => { %>
            <% if (riesgo.Categoria == "Tiempo") { %>
              <% if (riesgo.active == true) { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>" checked>
              <% } else { %>
                <input type="checkbox" id="box<%= riesgo.IDRiesgo %>" name="Checkbox<%= riesgo.IDRiesgo %>">
              <% } %>
              <label style="border-bottom: solid gray 1px;"><%= riesgo.Riesgo %></label><br>
            <% } %>
          <% }) %> 
        </div><br>
        <button class="btn-submit" type="submit">Guardar Cambios</button>
      </form>
    </div>
  </div>
  <!-- IMPLEMENTACIÓN : FUNCIONALIDAD DEL BOTÓN "Editar Riesgos" -->

</body>
<%- include('./../scripts/proj-script.ejs') %>

</html>